@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var message = TempData["Message"] as string;
    int x = 1;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @message
    </div>
}

<a href="/User/AddForm" class="btn btn-success">ADD NEW USER</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Handel</th>
        </tr>
    </thead>
    <tbody>
        @foreach(User u in Model)
        {
            <tr>
                <th scope="row">@(x++)</th>
                <td>@u.Name</td>
                <td>@u.Age</td>
                <td>@u.Email</td>
                <td><a href="/User/Details?id=@u.Id">Details</a> |
                    <a href="/User/EditForm/@u.Id">Edit</a>    |
                    <a href="/User/Delete/@u.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>